@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model Alloy.Mvc.Setup.RegisterAdminUserViewModel

@{
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Create Administrator Account</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="image/x-icon" rel="shortcut icon" href="/util/images/favicon.ico" />
    <link type="text/css" rel="stylesheet" href="/util/styles/login.css" />
</head>
<body class="epi-workspace">
    <div class="top-bar">
        <img src="/util/images/brand-logo.svg" alt="logo" class="logo" />
        <span class="product-name">Optimizely</span>
    </div>
    <form method="post" asp-controller="RegisterAdminUser" asp-antiforgery="true">
        <div class="login-wrapper img1">
            <div class="modal">
                <ol class="clearfix">
                    <li class="login-header-container">
                        <h1 class="login-header">Create Administrator Account</h1>
                        <p>Create your first account to access Optimizely CMS.</p>
                    </li>
                    <li>
                        <label asp-for="Username"></label>
                        <input asp-for="Username" type="text" />
                        <span asp-validation-for="Username" class="text--error"></span>
                    </li>
                    <li>
                        <label asp-for="Email"></label>
                        <input asp-for="Email" type="text" />
                        <span asp-validation-for="Email" class="text--error"></span>
                    </li>
                    <li>
                        <label asp-for="Password"></label>
                        <input asp-for="Password" type="password" />
                        <span asp-validation-for="Password" class="text--error"></span>
                    </li>
                    <li>
                        <label asp-for="ConfirmPassword"></label>
                        <input asp-for="ConfirmPassword" type="password" />
                        <span asp-validation-for="ConfirmPassword" class="text--error"></span>
                    </li>
                    <li>
                        <input type="submit" value="Create" />
                    </li>
                </ol>
                <div asp-validation-summary="ModelOnly" class="text--error"></div>
            </div>
        </div>
    </form>
</body>
</html>
